.icon-SiteIcons-07 { background-image: url('png/SiteIcons-07.png'); background-repeat: no-repeat; }

.icon-bldg-sign { background-image: url('png/bldg-sign.png'); background-repeat: no-repeat; }

.icon-calculator { background-image: url('png/calculator.png'); background-repeat: no-repeat; }

.icon-compass-white { background-image: url('png/compass-white.png'); background-repeat: no-repeat; }

.icon-compass { background-image: url('png/compass.png'); background-repeat: no-repeat; }

.icon-computer { background-image: url('png/computer.png'); background-repeat: no-repeat; }

.icon-cradle { background-image: url('png/cradle.png'); background-repeat: no-repeat; }

.icon-dna { background-image: url('png/dna.png'); background-repeat: no-repeat; }

.icon-fingerprint { background-image: url('png/fingerprint.png'); background-repeat: no-repeat; }

.icon-flask { background-image: url('png/flask.png'); background-repeat: no-repeat; }

.icon-keyboard { background-image: url('png/keyboard.png'); background-repeat: no-repeat; }

.icon-laptop { background-image: url('png/laptop.png'); background-repeat: no-repeat; }

.icon-onebutton { background-image: url('png/onebutton.png'); background-repeat: no-repeat; }

.icon-pad { background-image: url('png/pad.png'); background-repeat: no-repeat; }

.icon-telescope { background-image: url('png/telescope.png'); background-repeat: no-repeat; }

.icon-test-tube { background-image: url('png/test-tube.png'); background-repeat: no-repeat; }

