// Non-modular or client styles for .l-header region.

.not-front.node-type-page {
	.header {
		h1#page-title {
			@media #{$medium-up} {
				width:50%;
			}
		}
	}
}
.header {
	h1#page-title {
		color: $header-page-title-color;
		@media #{$small-up} {
			margin-top: 9.25rem;
			margin-bottom: 1.75rem;
			margin-left: 0;
			font-size: 2.75rem;
			text-align: center;
			
		}
		@media #{$medium-up} {
			margin-top:5rem;
			margin-bottom:5rem;
			margin-left: 1.25rem;
			font-size: 4rem;
			text-align: left;
		}
		@media #{$large-up} {
			margin-top:7rem;
			margin-bottom:7rem;
			font-size: 4rem;
		}

	}
	h2.call-to-action {
		color: $white;
		@media #{$small-up} {
			margin-top:2rem;
			font-size: 2.75rem;
		}
		@media #{$medium-up} {
			margin-top:5rem;
			font-size: 4rem;
		}
		@media #{$large-up} {
			margin-top:6rem;
			font-size: 6rem;
		}
	}
	h3.call-to-action {
		color: $white;
		@media #{$small-up} {
			margin-top:1rem;
			font-size: 1rem;
		}
		@media #{$medium-up} {
			margin-top:2rem;
			font-size: 2rem;
		}
		@media #{$large-up} {
			margin-top:2.5rem;
			font-size: 2rem;
		}
	}
	p.call-to-action {
		margin: 4rem 0 3rem;
	}
}

// Header Background Images
// Process Page
// body.section-process
// .l-header {
// 	background-color:$process-page-contrast-color;

// 	.odl-lettering a {
// 		@media #{$medium-up} {
// 			color:$process-page-contrast-color;
// 		}
// 	}
// }
// body.front
// .l-header {
// 	background-color:$process-page-contrast-color;
// 	.odl-lettering a {
// 		@media #{$medium-up} {
// 			color:$process-page-contrast-color;
// 		}
// 	}
// }
.call-to-action {
	margin:3rem 0;
}
.block-views-page-header-image-block {
	position: fixed;
	height: 100%;
	z-index: -1;
	top: 0;
	width: 100%;
}
.header-bg {
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-color:$science-orange;
	
	@media #{$small-up} {
		background-size: 9rem 9rem;
		background-position: center 115px;
	}
	@media #{$medium-up} {
		background-size: 17rem 15rem;
		background-position: 95% 160px;
	}
	@media #{$large-up} {
		background-size: 20rem 17rem;
		background-position: 95% 180px;
	}
	@media #{$xlarge-up} {
		background-size: 20rem 17rem;
		background-position: 75% 180px;
	}
	
}
.front {
	.header-bg {
		height:100%;
	}
}
.not-front {
	.header-bg {
		@media (min-height: 800px) {
			height: 70%;
		}
		@media (min-height: 1000px) {
			height: 50%;
		}
	}
}
 // Blog Header (It's so annoying)
 .page-blog {
 	background-color:$science-orange;
 }
