// Non-modular or client styles for the .l-content region.
// body.page-node {
// 	background-position: center;
// 	//background-size: 100rem;
// 	//background-color: #292827;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nI2ZmZmZmZicgc3Ryb2tlLXdpZHRoPScuMDcnIGQ9J00tMiwxTDcsMTBNLTIsNkw3LDE1TS0yLC00TDcsNScvPgoJCTwvcGF0dGVybj4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYzInIHdpZHRoPSc2MCcgaGVpZ2h0PScxMjAnIHg9JzEwMCUnIHk9JzAnIHZpZXdCb3g9JzAgMCA1IDEwJz4KCQkJPHBhdGggZmlsbC1vcGFjaXR5PScwJyBzdHJva2U9JyNmZmZmZmYnIHN0cm9rZS13aWR0aD0nLjA3JyBkPSdNNywxTC0yLDEwTTcsNkwtMiwxNU03LC00TC0yLDUnLz4KCQk8L3BhdHRlcm4+Cgk8L2RlZnM+Cgk8cmVjdCB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYyknLz4KCTxyZWN0IHg9JzUwJScgd2lkdGg9JzUwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2MyKScvPgo8L3N2Zz4=');

// }
body.page-node, body.not-front {
	background-color:$science-dark;
}
//////////// Layout Mod Tools
////////////
.kill-margin {
	max-width:none;
	padding:0;
	margin:0;
}
//// Responsive Line Breaks
.anti-orphan {
    white-space: nowrap;
}
.anti-orphan.long-line {
    white-space: normal;
}
////////////
////////////
.l-main {
	@media #{$small-up} {
		padding:3rem 0 6rem;
	}
	@media #{$medium-up} {
		padding:3rem 0 6rem;
	}
	@media #{$large-up} {
		padding:3rem 0 6rem;
	}
}
.main-body-wrapper {
	background-color:$white;
}
hr.sidebar-second , hr.sidebar-first {
	margin:2rem 1rem 3rem;
}
.front {
	h1 {
		color:$science-orange;
	}
	h2 {
		color:$science-orange;
	}
}
//////// Course Listing Page
.course-grid-list {
	div.svg-icon {
		border-radius: 50%;
		border-color: #ccc;
		border-style: solid;
		border-width: 5px;
		height: 7rem;
		width: 7rem;
		margin: 0 auto;
	}
	.course-abbrev {
		a h2 {
			text-align: center;
		}
	}
	.course-title-reveal {
		margin-top:1rem;
		text-align: center;
	}
}
//////// Blog recent posts
.block-views-recent-blog-posts-block-block {
	margin-top: 2rem;
	.panel span {
		font-size:0.8rem;
		line-height: 0.6rem !important;
	}
}
.view-blog-posts-archive {
	ul {
		li:before {
		 content: "\009B \0020";
	     }
	     li {
	     	list-style: none;
	     	margin: 0.2rem 0;
	     }
	 }
 }

//////// Blog Post Page
.node-type-blog-post {
	.main-body-wrapper {
		border-top: 1rem solid $black;
	}
	p {
		&:last-child {
			margin-bottom:3rem;
		}

		@media #{$small-only} {
			text-align: justify;	
		}

	}
	.post-date {
		font-size:1.5rem;
	}
	.post-author-label {
		display: inline-block;
	}
	.post-author {
		display: block;
	}
	.post-tags-label {
		float:left;
		margin:0.15rem 0;
	}
	.post-tags {
		background-color:$post-tags-color;
		padding: 0.5rem 0.5rem;
		display: inline-block;
		@include radius(3px);
		font-size:0.75rem;
		line-height: 0.75rem;
		margin: 1.5rem 0;
		a {
			margin:0.15rem 0.5rem;
			float:left;
		}
	}
	.post-image {

	}
	.post-copy {
		padding:2rem 0 0 0;
	}
}
//////// Blog Blocks
h2.block-title {
	color: $blocks-heading-color;
}
//////// Add to Any heading not hidden
.block-addtoany {
	//border: 1px #ccc solid;
	padding: 1rem;
	margin:0 0 1rem;
	display: inline-block;

	h2 {
		display:none;
	}

	.addtoany_list.a2a_kit_size_32 > a {
		font-size: 1rem;
	}
}