.view-recent-blog-posts-block, .block-views-recent-blog-posts-front-block {
	h2.block-title {
		margin-bottom:1rem;
	}
	a {
		margin:2rem 0rem 0.85rem;
		display:block;
	}
	img {
		border:2px #eee solid;
	}
}

.section-blog {
	.sidebar-second {
		@media #{$small-up} {
			border-left:none;
		}
		@media #{$medium-up} {
			border-left:4px solid $science-mustard;
		}
	}
}
.section-blog.node-type-blog-post {
	.sidebar-second {
		@media #{$small-up} {
			border-left:none;
		}
		@media #{$medium-up} {
			border-left:4px solid $science-dark;
		}
	}
}
.front {
	.sidebar-second {
		@media #{$small-up} {
			border-left:none;
		}
		@media #{$medium-up} {
			border-left:4px solid $science-orange;
		}
	}
}