.view-recent-blog-posts-block, .block-views-recent-blog-posts-front-block {
	h2.block-title {
		margin-bottom:1rem;
	}
	a {
		margin:2rem 0rem 0.85rem;
		display:block;
	}
	img {
		border:2px #eee solid;
	}
}