// Profile Page
.page-user {
  h2.profile-name {
    margin-top: 1rem;
  }
  h3.profile-job-title {
      color:$profile-jobtitle-color;
      margin-bottom: 3rem;
      font-size: 1.5rem;
    
  }
  .profile-img img {
    @media #{$small-only} {
      width:75%;
    }
    border-radius:50%;
    margin-bottom:2rem;
  }
  .profile-bio {
    margin-top:2rem;
    
    @media #{$medium-up} {
      padding:0 5rem;
      // Medium breakpoint padding fine-tuning
      @media (min-width:845px) {
        padding:0 7rem;
      }
    }

    @media #{$large-up} {
      padding:0 5rem;
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
       
    }
  }
}

// Profiles Index list

a.team-member-profile, .team-member-profile {
  padding:0.85rem;
  width:100%;
  position:relative;
  overflow:hidden;
  background-color: rgba(30,30,30,0.1);
  border-radius:50%;
  display: block;
  @include transition($transition-time:0.5s);
  @media #{$large-up} {
    border-radius:0;
  }

  h2, h3 {
    color:$white;
    text-align: center;
  }
  h2 {
    @media #{$small-up} {
      font-size:1.5rem;
    }
    @media #{$medium-up} {
      
    }
    @media #{$large-up} {
     
    }
  }
  h3 {
    @media #{$small-up} {
      font-size:0.85rem;
    }
    @media #{$medium-up} {
      
    }
    @media #{$large-up} {
     
    }
  }
  hr {
    @media #{$small-up} {
       margin:0.2rem 0;
    }
    @media #{$medium-up} {
      
    }
    @media #{$large-up} {
     
    }
  }
  a {
    display:block;
  }
  img {
    width:100%;
    border-radius:50%;
    @include transition();
    @include opacity(1);

    @media #{$large-up} {
      border-radius:0;
    }
   }
  .profile-info {
     height:100%;
  }
  .profile-info-reveal {
    //@include opacity(0.7);
    @include transition();
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:-100%;

    .profile-name {
      margin-top:auto;
    }
    
    .profile-jobtitle {
      margin-bottom:auto;
    }
  }
  
  &:hover, &:focus {
    @include transition($transition-time:0.2s);
    height:100%;
    background-color: rgba(30,30,30,1);
    img {
    @include transition();
    @include opacity(0.6);
   }
    .profile-info-reveal {
      left: 0;
      top:0;
      @include opacity(1);
      @include transition();
    }
  }
}

.block-views-profile-page-flex-slider-block {
  .flexslider .slides img {
    width:100%;
  }
}