video#bgvid {
		@media #{$medium-only} {
			position: fixed;
			top: 0;
			min-width: 100%;
			//max-width: 100%;
			//min-height: 100%;
			width: auto;
			height: auto;
			z-index: -100;
		}

		@media #{$large-up} {
			position: fixed;
			top: 0;
			min-width: 100%;
			height: auto;
			z-index: -100;

			// @media only screen and (min-device-width : 1020px) and (max-device-width : 1300px) {
			// 	position: fixed;
			// 	top: 0;
			// 	min-width: 100%;
			// 	height: auto;
			// 	z-index: -100;
			// }
		}

		
}