//Colors


// Top Bar
$top-bar-base-color:#000;
$top-bar-primary-contrast-color:#000;
$topbar-link-border-color:rgba(255,255,255,0.5);

//ODL Lettering
$odl-lettering-bg-color:#fff;
$odl-lettering-text-color:$top-bar-primary-contrast-color;


// Header
$header-page-title-color:#fff;
$header-bg-pattern-base:#292827;
$science-orange:#E2801E;
$science-green:#BED01D;
$science-blue:#1EBDE2;
$science-mustard:#DFC514;

//Blog Posts
$post-tags-color:#eee;
$blocks-heading-color:#777;

//PSU Search Form
$psu-search-btn-color:rgba(0,0,0,0.2);
$psu-search-radios-bg-color:rgba(50,50,50,0.9);

//Profile Page
$profile-jobtitle-color:lighten($top-bar-primary-contrast-color,40%);