//Colors


// Top Bar
$top-bar-base-color:#000;
$top-bar-primary-contrast-color:#000;

//ODL Lettering
$odl-lettering-bg-color:#fff;
$odl-lettering-text-color:$top-bar-primary-contrast-color;


// Header
$header-page-title-color:#fff;