.social-menu-block-item {
	height: 1.75rem;
	width: 1.75rem;
	margin: 0.25rem;
	color: #fff;
	overflow: hidden;
	font-size: 1.75rem;
	line-height: 1.75rem;
	display: block;
}
.menu-name-menu-social-menu {
	ul.menu {
		margin-bottom:0.75rem;
	}
}