// Social Menu Block 
.block-menu-block-3 {
	float:left;
}
.social-menu-block-item {
	height: 2rem;
	width: 2rem;
	margin: 0.5rem;
	color: #fff;
	overflow: hidden;
	font-size: 2rem;
	line-height: 2rem;
	display: block;
}
.menu-name-menu-social-menu {
	ul.menu {
		margin-bottom:0.75rem;
		li {
			list-style:none;
		}
	}
}