.embedded-video {
	margin: 0 auto;
	text-align: center;
}
.section-projects {
	.project-page-view-wrapper {
		margin-top:2rem;
		margin-bottom:2rem;
		
		@media #{$medium-up} {
	      padding:0 5rem;
	      // Medium breakpoint padding fine-tuning
	      @media (min-width:845px) {
	        padding:0 7rem;
	      }
	    }

	}
	.video-player {
		margin-top:2rem !important;
	}
	.post-copy {

		@media #{$large-up} {
	      padding:0;
	      -webkit-column-count: 2; /* Chrome, Safari, Opera */
	      -moz-column-count: 2; /* Firefox */
	      column-count: 2;  
	    }

	}
}
.project-images-flexslider {
	margin-top:2rem;
}