.l-header .contain-to-grid {
	background-color: rgba($top-bar-base-color, 0.2);
}
.top-bar {
	background-color:transparent;
	
	// &-most {	
	// 	//background-color: rgba($top-bar-base-color, 0.5);
	// 	.row {
	// 		max-width:none;
	// 		height: 4.5rem;
	// 		margin: 0.25rem 0;
	// 	}
	// }
	@media #{$small-only} {
		text-align:center;

		.name.odl-lettering {
			h1 {
				text-align: center;
				color:$white;
			}
		}
	}
	@media #{$medium-up} {
		padding:1em;
		height:auto;
	
		.name.odl-lettering {
			border-radius: 50%;
			width: 4rem;
			height: 4rem; 
			background-color:$odl-lettering-bg-color;
			color:$odl-lettering-text-color;
			padding:0;
			margin:0;

			h1 {
				margin:0;
				padding:0;
			
				a {
					margin:0;
					padding:0;
					color:black;
				}
			}
		}
		h3.site-slogan {
			color: $white;
			width: 8rem;
			margin: 0 0 0 1rem;
		}
	}
}

@media #{$medium-up} {
	.top-bar-section ul li {
		background: transparent;
		padding:0.59375rem 0;
		
		&:not(.has-form) a:not(.button) {
			background: transparent;
			
			&:hover, &.active {
				@include border-radius(3px);
				background-color: $white;
				color:$top-bar-primary-contrast-color;
			}
		}
	}
}